# Task00

In [1]:
x=1.25
profit1=1.25*20/100
print("Profit per bag:",profit1)
profit2=500*profit1
print("Profit of 500 bags:",profit2)

Profit per bag: 0.25
Profit of 500 bags: 125.0

# Task01

In [2]:
population=198568
men=4512
women=35678
child=population-(men+women)
print("Total no of childs: ",child)

Total no of childs:  158378

# Task02

In [3]:
boxes=2425
pencils=24
totalpencil=boxes*pencils
print("Total Pencils are:",totalpencil)

Total Pencils are: 58200

# Task03

In [4]:
coatRs=2265
sareeRs=2150
pay=5000
rturn=5000-(2265+2150)
print("Return is:",rturn)

Return is: 585

# Task04

In [5]:
tv21cost=95844
tv1cost=tv21cost/21
print("Cost of each TV:",tv1cost)

Cost of each TV: 4564.0

# Task05

In [6]:
bulbs=24532
annual=bulbs*12
print("Annual product is:",annual)

Annual product is: 294384

# Task06

In [7]:
suger_bags=145968
wheat_bags=236488
total_bags=450000
Rice_bags=total_bags-(suger_bags + wheat_bags)
print("Total Rice bags are:",Rice_bags)

Total Rice bags are: 67544

# Task07

In [8]:
toys=483684
first_week=146345
second_week=138152
third_week=toys-(first_week+second_week)
print("third week toys production is:",third_week)

third week toys production is: 199187

# Task08

In [9]:
sofaset=9338
totalsofaset=124
totalcost=sofaset*totalsofaset
print("Total cost of 124 sofa sets:",totalcost)

Total cost of 124 sofa sets: 1157912

# Task09

In [10]:
rooms=86
students=4386
equalnoofstudent=students/rooms
print("equal no of students in each room:",equalnoofstudent)

equal no of students in each room: 51.0

# Task10

In [11]:
students=1575
bus_capacity=75
no_of_buses=students/bus_capacity
print("No of buses required:",no_of_buses)

No of buses required: 21.0

# Task11

In [12]:
radio=1475
cost_of_15=radio*15
print("Cost of 15 radios is :",cost_of_15)

Cost of 15 radios is : 22125

# Task12

In [13]:
Ron_vote=52496
jhon_vote=44929
Mike_vote=44929
total_no_of_people=Ron_vote+jhon_vote+Mike_vote
print("Total no of people are:",total_no_of_people)

Total no of people are: 142354

# Task13

In [14]:
toys=96
price=12960
remaining_amount=1015
price_of_each_toy=price/toys
print("Price of each toy:",price_of_each_toy)
total_amount=price+ remaining_amount
print("Total amount she had:",total_amount)

Price of each toy: 135.0
Total amount she had: 13975

# Task14

In [15]:
flying_cost=5000
people=29
charge_per_people=200
profit=(people*charge_per_people)-5000
print("Profit made by the Company:",profit)

Profit made by the Company: 800

# Task15

In [16]:
total=0
for i in range (18,534):
    if i%7==0:
        total=total+i
        if i==532:
            print(i,end="=")
        else:
            print(i,end="+")
print(total)

21+28+35+42+49+56+63+70+77+84+91+98+105+112+119+126+133+140+147+154+161+168+175+182+189+196+203+210+217+224+231+238+245+252+259+266+273+280+287+294+301+308+315+322+329+336+343+350+357+364+371+378+385+392+399+406+413+420+427+434+441+448+455+462+469+476+483+490+497+504+511+518+525+532=20461

# Task16

In [17]:
tweets = [
"Wow, what a great day today!! #sunshine",
"I feel sad about the things going on around us. #covid19",
"I'm really excited to learn Python with @JovianML #zerotopandas",
"This is a really nice song. #linkinpark",
"The python programming language is useful for data science",
"Why do bad things happen to me?",
"Apple announces the release of the new iPhone 12. Fans are excited.",
"Spent my day with family!! #happy",
"Check out my blog post on common string operations in Python. #zerotopandas",
"Freecodecamp has great coding tutorials. #skillup"
]

Q no: 01

In [18]:
no_of_tweets=len(tweets)
print("The Total no of tweets are: ",no_of_tweets)

The Total no of tweets are:  10

Q no: 02

In [19]:
happylist=["wow","excited","nice","#happy","great"]
count_happy=0
for item1 in tweets:
    for word in item1.split():
        for happeness in happylist:
            if word==happeness:
                count_happy=count_happy+1
print("the No of happy tweets are:",count_happy)

the No of happy tweets are: 5

Q no: 03

In [20]:
happy_fraction=count_happy/no_of_tweets
print("Happy's fractional part of total tweets:", happy_fraction)

Happy's fractional part of total tweets: 0.5

Q no: 04

In [21]:
unhappylist=["sad","bad"]
count_unhappy=0
for item1 in tweets:
    for word in item1.split():
        for sadness in unhappylist:
            if word==sadness:
                count_unhappy=count_unhappy+1
print("the No of unhappy tweets are:",count_unhappy)

the No of unhappy tweets are: 2

`Q no: 05

In [22]:
unhappy_fraction=count_unhappy/no_of_tweets
print("Unhappy's fractional part of total tweets:", unhappy_fraction)

Unhappy's fractional part of total tweets: 0.2

Q no: 06

In [23]:
sentiment_score=happy_fraction-unhappy_fraction
print("Sentiment Score: ",sentiment_score)

Sentiment Score:  0.3

sentiment score is positive. it means that the sentiment of given dataset of the tweets is happy.

Q no: 07

In [24]:
count_neutral=no_of_tweets-(count_happy+count_unhappy)
print("the No of Neutral tweets are:",count_neutral)

the No of Neutral tweets are: 3

Q on: 08

In [25]:
neutral_fraction=count_neutral/no_of_tweets
print("Neutral's fractional part of total tweets:", neutral_fraction)

Neutral's fractional part of total tweets: 0.3