## Lab Tasks

In [1]:
import pandas as pd

In [2]:
covid_df=pd.read_csv('italy-covid-daywise.csv')

In [3]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31          0           0        NaN
1    2020-01-01          0           0        NaN
2    2020-01-02          0           0        NaN
3    2020-01-03          0           0        NaN
4    2020-01-04          0           0        NaN
..          ...        ...         ...        ...
243  2020-08-30       1444           1    53541.0
244  2020-08-31       1365           4    42583.0
245  2020-09-01        996           6    54395.0
246  2020-09-02        975           8        NaN
247  2020-09-03       1326           6        NaN

[248 rows x 4 columns]

## Task01
Find the total number of reported cases and deaths related to Covid-19 in Italy.

In [4]:
total_reported_cases=covid_df['new_cases'].sum()

In [5]:
total_reported_cases

271515

In [6]:
total_death_cases=covid_df['new_deaths'].sum()

In [7]:
total_death_cases

35497

## Task02
Find the overall death rate (ratio of reported deaths to reported cases).

In [8]:
overall_death_rate=total_reported_cases/total_death_cases

In [9]:
overall_death_rate

7.648956249823929

## Task03
Find the overall number of tests conducted? A total of 935310 tests were conducted before daily test 
numbers were reported.

In [10]:
total_tests_conducted=covid_df['new_tests'].sum()+935310

In [11]:
total_tests_conducted

5214766.0

## Task04
Find the positive rate i.e. fraction of tests returned a positive result.

In [12]:
positive_rate=total_reported_cases/total_tests_conducted

In [13]:
positive_rate

0.05206657403227681

we can also find negative rate as,

In [14]:
negative_rate=(total_tests_conducted-total_reported_cases)/total_tests_conducted

In [15]:
negative_rate

0.9479334259677232