In [5]:
import pandas as pd

In [6]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [7]:
type(covid_df)

pandas.core.frame.DataFrame

In [8]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31          0           0        NaN
1    2020-01-01          0           0        NaN
2    2020-01-02          0           0        NaN
3    2020-01-03          0           0        NaN
4    2020-01-04          0           0        NaN
..          ...        ...         ...        ...
243  2020-08-30       1444           1    53541.0
244  2020-08-31       1365           4    42583.0
245  2020-09-01        996           6    54395.0
246  2020-09-02        975           8        NaN
247  2020-09-03       1326           6        NaN

[248 rows x 4 columns]

In [9]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    int64
 2   new_deaths  248 non-null    int64
 3   new_tests   135 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 7.9+ KB

In [10]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [11]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [12]:
covid_df.shape

(248, 4)

In [13]:
covid_df['new_cases']

0         0
1         0
2         0
3         0
4         0
       ...
243    1444
244    1365
245     996
246     975
247    1326
Name: new_cases, Length: 248, dtype: int64

In [14]:
type(covid_df['new_cases'])

pandas.core.series.Series

In [15]:
covid_df['new_cases'][246]

975

In [16]:
covid_df['new_tests'][240]

57640.0

In [17]:
covid_df.at[246, 'new_cases']

975

In [18]:
covid_df.at[240, 'new_tests']

57640.0

In [21]:
covid_df.new_cases

0         0
1         0
2         0
3         0
4         0
       ...
243    1444
244    1365
245     996
246     975
247    1326
Name: new_cases, Length: 248, dtype: int64

In [23]:
cases_df = covid_df[['date', 'new_cases']]
cases_df

pandas.core.frame.DataFrame

In [24]:
covid_df_copy = covid_df.copy()

In [25]:
covid_df.loc[243]

date          2020-08-30
new_cases           1444
new_deaths             1
new_tests        53541.0
Name: 243, dtype: object

In [26]:
type(covid_df.loc[243])

pandas.core.series.Series

In [27]:
covid_df.head(5)

         date  new_cases  new_deaths  new_tests
0  2019-12-31          0           0        NaN
1  2020-01-01          0           0        NaN
2  2020-01-02          0           0        NaN
3  2020-01-03          0           0        NaN
4  2020-01-04          0           0        NaN

In [28]:
covid_df.tail(4)

           date  new_cases  new_deaths  new_tests
244  2020-08-31       1365           4    42583.0
245  2020-09-01        996           6    54395.0
246  2020-09-02        975           8        NaN
247  2020-09-03       1326           6        NaN

In [29]:
covid_df.at[0, 'new_tests']

nan

In [31]:
covid_df.new_tests.first_valid_index()

111

In [32]:
covid_df.loc[108:113]

           date  new_cases  new_deaths  new_tests
108  2020-04-17       3786         525        NaN
109  2020-04-18       3493         575        NaN
110  2020-04-19       3491         480        NaN
111  2020-04-20       3047         433     7841.0
112  2020-04-21       2256         454    28095.0
113  2020-04-22       2729         534    44248.0

In [35]:
covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
146  2020-05-25        531          50    20676.0
220  2020-08-07        401           6    30392.0
191  2020-07-09        193          15    29947.0
206  2020-07-24        306          10    28970.0
133  2020-05-12        744         179    39620.0
46   2020-02-15          0           0        NaN
91   2020-03-31       4050         810        NaN
12   2020-01-12          0           0        NaN
142  2020-05-21        665         161    40644.0
245  2020-09-01        996           6    54395.0